@import _variables
@import _utilities

body
  background: $color-red
  width: 100%
  height: 100%
  color: $color-white
  
.wrapper
  margin-top: 50px
  padding: 20px
  text-align: center
  


/// BOOTSTRAP overrides
.panel
  background: $color-white
  color: $color-dark
  margin-bottom: 5px
  h1,h2,h3,h4,h5
    margin-bottom: 0px