<div class="wrapper" ng-controller="HomeController">
  <h1>Tanjong Paga</h1>
  <p>5 Man GRC</p>
  <div class="panel-light panel">
    <div class="panel-heading">
      Liked to be contested by
    </div>
  </div>

  <div class="panel">
    <div class="panel-heading text-left">
      <h3>People's Action Party</h3>
    </div>
  </div>

  <div class="panel">
    <div class="panel-heading text-left">
      <h3>Democratic Progressive Party</h3>
    </div>
  </div>

   <div class="panel">
    <div class="panel-heading text-left">
      <h3>Singaporeans First</h3>
    </div>
  </div>

  <a href="#/votes" class="btn btn-default"> NEXT</a>
</div>