<div class="wrapper" ng-controller="HomeController">
  <h1>Tanjong Paga</h1>
  <p>5 Man GRC</p>

  <table class="table">
    <tbody>
      <tr>
        <td>
          People's Action Party
        </td>
        <td>
          <input type="checkbox"/>
        </td>
      </tr>
      <tr>
        <td>
          Democratic Progressive Party
        </td>
        <td>
          <input type="checkbox"/>
        </td>
      </tr>
         <tr>
        <td>
         Singaporeans First
        </td>
        <td>
          <input type="checkbox"/>
        </td>
      </tr>
    </tbody>
  </table>
  <a href="#/finish" class="btn btn-default"> VOTES</a>
</div>